<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Ryan Rigby</title>
   <meta name="author" content="Ryan Rigby" />
   <!-- devicon -->
   <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- bootstrap js -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
   <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2178939138050633",
    enable_page_level_ads: true
  });
</script>
   
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-2">
        <h3>My Profiles</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <i class="devicon-github-original colored"></i>
            <a href="http://github.com/rbrigby">Github</a>
          </li>
          <li class="list-group-item">
            <i class="devicon-twitter-original colored"></i>
            <a href="https://twitter.com/rbrigby">Twitter</a>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <h3>My Stack</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <i class="devicon-atom-original colored"></i>
            <a href="https://atom.io/">Atom</a>
          </li>
          <li class="list-group-item">
            <i class="devicon-amazonwebservices-original colored"></i>
            <a href="https://aws.amazon.com">AWS</a>
          </li>
          <li class="list-group-item"><i class="devicon-bootstrap-plain"></i>
            <a href="https://getbootstrap.com/">Bootstrap</a>
          </li>
          <li class="list-group-item">
            <img style="height: 16px" src="../images/homebrew.png"></img>
            <a href="https://brew.sh/">Homebrew</a>
          </li>
          <li class="list-group-item">
            <i class="devicon-docker-plain colored"></i>
            <a href="https://dockercloud.com">Docker</a>
          </li>
          <li class="list-group-item">
            <i class="devicon-heroku-original colored"></i>
            <a href="https://heroku.com">Heroku</a>
          </li>
          <li class="list-group-item">
            <i class="devicon-nodejs-plain colored"></i>
            <a href="https://nodejs.org/en/">Node.js</a>
          </li>
          <li class="list-group-item">
            <i class="devicon-mysql-plain colored"></i>
            <a href="https://www.mysql.com/">MySQL</a>
          </li>
          <li class="list-group-item">
            <i class="devicon-postgresql-plain colored"></i>
            <a href="https://www.postgresql.org/">PostgresSQL</a>
          </li>
          <li class="list-group-item">
            <i class="devicon-redis-plain colored"></i>
            <a href="https://redis.io">Redis</a>
          </li>
          <li class="list-group-item">
            <i class="devicon-ruby-plain colored"></i>
            <a href="http://www.ruby-lang.org/en/">Ruby</a>
          </li>
          <li class="list-group-item">
            <i class="devicon-rails-plain colored"></i>
            <a href="http://rubyonrails.org/">Rails</a>
          </li>
          <li class="list-group-item">
            <i class="devicon-ssh-plain colored"></i>
            <a href="https://www.ssh.com/ssh/">SSH</a>
          </li>
          <li class="list-group-item">
            <i class="devicon-vim-plain colored"></i>
            <a href="https://www.vim.org/">Vim</a>
          </li>
          <li class="list-group-item">
            <i class="devicon-vuejs-plain colored"></i>
            <a href="https://vuejs.org/">Vue.js</a>
          </li>
          <li class="list-group-item">
            <i class="devicon-webpack-plain colored"></i>
            <a href="https://webpack.js.org/">Webpack</a>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <h3>Dev Libs</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="https://rubygems.org/gems/rails/versions">Rails Versions</a>
          </li>
        </ul>

      </div>
      <div class="col-3">

      </div>
    </div>
  </div>
</body>
</html>
